/.idea
/vendor
composer.lock

#
# Test Output
#
/build/cache/*
!build/cache/.gitkeep
/build/config/base/*
!build/config/base/.gitkeep
/build/coverage/
/build/logs/*
/build/metrics/
.phpunit.result.cache
